Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

+ reran again to ensure cell execution order even for markdown cells
  examples/generalized_linear_models/GLM-ordinal-features.ipynb
  examples/generalized_linear_models/GLM-ordinal-features.myst.md
Due: watermark, notebook_name, no-references-as-links

Run: pre-commit run all-files
  examples/variational_inference/bayesian_neural_network_advi.ipynb
  examples/variational_inference/bayesian_neural_network_advi.myst.md
Due: watermark, notebook_name, no-references-as-links

+ reformat README.rst + reformat CONTRIBUTING.md
  CONTRIBUTING.md
  README.rst
Due: none

+ added new NB to demonstrate missing values, per issue #721 + ran pre-commit checks etc
  examples/generalized_linear_models/GLM-missing-numeric-values.ipynb
  examples/generalized_linear_models/GLM-missing-numeric-values.myst.md
Due: watermark, notebook_name, no-references-as-links

+ tested running on google collab, works fine + remove recently deprecated sym kwarg in seaborn boxplot + improved a couple of explanations + reran precommit etc checks
  examples/generalized_linear_models/GLM-missing-numeric-values.ipynb
  examples/generalized_linear_models/GLM-missing-numeric-values.myst.md
Due: watermark, notebook_name, no-references-as-links

+ added more explanatory text to 2.4.4 + fixed a couple of typos
  examples/generalized_linear_models/GLM-missing-values-in-covariates.ipynb
  examples/generalized_linear_models/GLM-missing-values-in-covariates.myst.md
Due: watermark, notebook_name, no-references-as-links

add notebook runner
  environment.yml
  scripts/run_notebooks/injected.py
  scripts/run_notebooks/runner.py
Due: none

add a docstring
  scripts/run_notebooks/runner.py
Due: none

print out the successes as well
  scripts/run_notebooks/runner.py
Due: none

add a dummy sampling_time
  scripts/run_notebooks/injected.py
Due: none

code format
  scripts/run_notebooks/runner.py
Due: none

fixed bug introduced by rasterio update
  examples/spatial/malaria_prevalence.ipynb
  examples/spatial/malaria_prevalence.myst.md
Due: watermark, notebook_name, no-references-as-links

added extra dependencies into metadata file
  examples/spatial/malaria_prevalence.myst.md
Due: none

updated notebook metadata with dependencies
  examples/spatial/malaria_prevalence.ipynb
  examples/spatial/malaria_prevalence.myst.md
Due: watermark, notebook_name, no-references-as-links

add missing dataset
  examples/data/body_fat.csv
Due: none

Replace deprecated testval with initval in weibull_aft notebook
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name

replaced all pymc potential with pymc censored
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name

removed gumbel_sf function that is not being used
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name

added rng to samplers
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name

put back seeds for sampling data observations
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name

add missing dataset (#748)
  examples/data/body_fat.csv
Due: none

Updated GEV
  examples/case_studies/GEV.ipynb
  examples/case_studies/GEV.myst.md
  pixi.lock
  pixi.toml
Due: watermark, notebook_name, no-references-as-links

Changed pymc_experimental to pymc_extras
  examples/howto/marginalizing-models.ipynb
  examples/howto/marginalizing-models.myst.md
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
  examples/howto/updating_priors.ipynb
  examples/howto/updating_priors.myst.md
  examples/variational_inference/pathfinder.ipynb
  examples/variational_inference/pathfinder.myst.md
Due: watermark, notebook_name, no-references-as-links

Extras update (#752)
  examples/case_studies/GEV.ipynb
  examples/case_studies/GEV.myst.md
  examples/howto/marginalizing-models.ipynb
  examples/howto/marginalizing-models.myst.md
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
  examples/howto/updating_priors.ipynb
  examples/howto/updating_priors.myst.md
  examples/variational_inference/pathfinder.ipynb
  examples/variational_inference/pathfinder.myst.md
  pixi.lock
  pixi.toml
Due: watermark, notebook_name, no-references-as-links

+ ran pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

+ ran precommit on new NB, created myst file
  examples/generalized_linear_models/GLM-missing-values-in-covariates.ipynb
  examples/generalized_linear_models/GLM-missing-values-in-covariates.myst.md
  examples/references.bib
Due: watermark, notebook_name, no-references-as-links

New example: Auto-imputation aka handling missing numeric covariates (#753)
  .pre-commit-config.yaml
  examples/generalized_linear_models/GLM-missing-values-in-covariates.ipynb
  examples/generalized_linear_models/GLM-missing-values-in-covariates.myst.md
  examples/references.bib
Due: watermark, notebook_name, no-references-as-links

replaced all pymc potential with pymc censored (#750)
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name

fixed bug introduced by rasterio update (#745)
  examples/spatial/malaria_prevalence.ipynb
  examples/spatial/malaria_prevalence.myst.md
Due: watermark, notebook_name, no-references-as-links

Fix Minibatch alignment in Bayesian Neural Network example + Pre-commit hooks (#719)
  examples/variational_inference/bayesian_neural_network_advi.ipynb
  examples/variational_inference/bayesian_neural_network_advi.myst.md
Due: watermark, notebook_name, no-references-as-links

+ reformat README.rst (#720)
  CONTRIBUTING.md
  README.rst
Due: none

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/.+\.ipynb$ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
