Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

Fixed references in spline.ipynb
  examples/howto/spline.ipynb
  examples/howto/spline.myst.md
Due: watermark, notebook_name, no-references-as-links

Fixed references in wrapping_jax_function.ipynb
  examples/howto/wrapping_jax_function.ipynb
  examples/howto/wrapping_jax_function.myst.md
Due: watermark, notebook_name, no-references-as-links

Fixed references in howto_debugging.ipynb
  examples/howto/howto_debugging.ipynb
  examples/howto/howto_debugging.myst.md
Due: watermark, notebook_name, no-references-as-links

Fixed references in updating_priors.ipynb
  examples/howto/updating_priors.ipynb
  examples/howto/updating_priors.myst.md
Due: watermark, notebook_name, no-references-as-links

update glm oss nb
  examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb
Due: watermark, notebook_name

revise author info
  examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb
Due: watermark, notebook_name

add myst file
  examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb
  examples/generalized_linear_models/GLM-out-of-sample-predictions.myst.md
Due: watermark, notebook_name

update author info
  examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb
  examples/generalized_linear_models/GLM-out-of-sample-predictions.myst.md
Due: watermark, notebook_name

clean up author info
  examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb
  examples/generalized_linear_models/GLM-out-of-sample-predictions.myst.md
Due: watermark, notebook_name

Update the GLM out-of-sample notebook (#616)
  examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb
  examples/generalized_linear_models/GLM-out-of-sample-predictions.myst.md
Due: watermark, notebook_name

Remove pathfinder notebook
  examples/variational_inference/pathfinder.ipynb
  examples/variational_inference/pathfinder.myst.md
Due: watermark, notebook_name, no-references-as-links

Use a Bayesian calculation for resampling F
  examples/case_studies/factor_analysis.ipynb
  examples/case_studies/factor_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Add comparison to original data
  examples/case_studies/factor_analysis.ipynb
  examples/case_studies/factor_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Delete F visualisation
  examples/case_studies/factor_analysis.ipynb
  examples/case_studies/factor_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Allow for negative elements in W
  examples/case_studies/factor_analysis.ipynb
  examples/case_studies/factor_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Minor clean up
  examples/case_studies/factor_analysis.ipynb
  examples/case_studies/factor_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Add myself to author lists
  examples/case_studies/factor_analysis.ipynb
  examples/case_studies/factor_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Improve factor analysis notebook (#612)
  examples/case_studies/factor_analysis.ipynb
  examples/case_studies/factor_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Adding propensity score weighting
  examples/causal_inference/bayesian_nonparametric_causal.ipynb
  examples/data/meps_bayes_np_health.csv
  examples/data/nhefs.csv
Due: watermark, notebook_name, no-references-as-links

fixing bibfile
  examples/references.bib
Due: none

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/.+\.ipynb$ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
