Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

update putting
  examples/case_studies/putting_workflow.ipynb
  examples/case_studies/putting_workflow.myst.md
Due: watermark, notebook_name, no-references-as-links

finish putting notebook
  examples/case_studies/putting_workflow.ipynb
  examples/case_studies/putting_workflow.myst.md
Due: watermark, notebook_name, no-references-as-links

nb pathfinder; rm unneeded pytensor imports
  examples/variational_inference/pathfinder.ipynb
Due: watermark, notebook_name, no-references-as-links

add myst file
  examples/variational_inference/pathfinder.myst.md
Due: no-references-as-links

Added footer
  examples/time_series/MvGaussianRandomWalk_demo.ipynb
  examples/time_series/MvGaussianRandomWalk_demo.myst.md
Due: watermark, notebook_name, no-references-as-links

Change "pymcx" to "pymc-experimental" in the pathfinder.ipynb notebook (#521)
  examples/variational_inference/pathfinder.ipynb
  examples/variational_inference/pathfinder.myst.md
Due: watermark, notebook_name, no-references-as-links

Fixed docs reference
  examples/time_series/MvGaussianRandomWalk_demo.ipynb
  examples/time_series/MvGaussianRandomWalk_demo.myst.md
Due: watermark, notebook_name, no-references-as-links

Fixed doc link
  examples/time_series/MvGaussianRandomWalk_demo.myst.md
Due: no-references-as-links

Commit with the second DEMetropolis (efficiency comparison) notebook updates and revisions
  examples/samplers/DEMetropolisZ_EfficiencyComparison.ipynb
  examples/samplers/DEMetropolisZ_EfficiencyComparison.myst.md
Due: watermark, notebook_name, no-references-as-links

revised references.bib
  examples/references.bib
Due: none

run pre-commit
  examples/samplers/DEMetropolisZ_EfficiencyComparison.myst.md
  examples/samplers/DEMetropolisZ_tune_drop_fraction.myst.md
Due: no-references-as-links

Update MvGaussianRandomWalk notebook to v5 (#518)
  examples/time_series/MvGaussianRandomWalk_demo.ipynb
  examples/time_series/MvGaussianRandomWalk_demo.myst.md
Due: watermark, notebook_name, no-references-as-links

Update ModelBuilder docs.
  examples/howto/Model_Builder.ipynb
Due: watermark, notebook_name, no-references-as-links

Update ModelBuilder docs.
  examples/howto/Model_Builder.myst.md
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
Due: watermark, notebook_name, no-references-as-links

re-execute blackbox numpy notebook (#496)
  examples/case_studies/blackbox_external_likelihood_numpy.ipynb
  examples/case_studies/blackbox_external_likelihood_numpy.myst.md
Due: watermark, notebook_name, no-references-as-links

Update ModelBuilder docs.
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
Due: watermark, notebook_name, no-references-as-links

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
