Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

Updated AR notebook to PyMC 5.0 (#494)
  examples/time_series/AR.ipynb
  examples/time_series/AR.myst.md
Due: watermark, notebook_name, no-references-as-links

Updated ADVI minibatch and API quickstart
  examples/variational_inference/GLM-hierarchical-advi-minibatch.ipynb
  examples/variational_inference/GLM-hierarchical-advi-minibatch.myst.md
  examples/variational_inference/variational_api_quickstart.ipynb
  examples/variational_inference/variational_api_quickstart.myst.md
Due: watermark, notebook_name, no-references-as-links

re-execute blackbox numpy notebook
  examples/case_studies/blackbox_external_likelihood_numpy.ipynb
  examples/case_studies/blackbox_external_likelihood_numpy.myst.md
Due: watermark, notebook_name, no-references-as-links

add author; rerun
  examples/diagnostics_and_criticism/Bayes_factor.ipynb
Due: watermark, notebook_name, no-references-as-links

adding myst file
  examples/diagnostics_and_criticism/Bayes_factor.myst.md
Due: no-references-as-links

run pymc v5
  examples/generalized_linear_models/GLM-hierarchical-binomial-model.ipynb
Due: watermark, notebook_name, no-references-as-links

add myst file
  examples/generalized_linear_models/GLM-hierarchical-binomial-model.myst.md
Due: no-references-as-links

run with pymc v5
  examples/generalized_linear_models/GLM-robust.ipynb
Due: watermark, notebook_name, no-references-as-links

add myst file
  examples/generalized_linear_models/GLM-robust.myst.md
Due: no-references-as-links

notebook: GLM robust (run with pymc v5) (#499)
  examples/generalized_linear_models/GLM-robust.ipynb
  examples/generalized_linear_models/GLM-robust.myst.md
Due: watermark, notebook_name, no-references-as-links

notebook: glm hierarchical, run pymc v5 (#498)
  examples/generalized_linear_models/GLM-hierarchical-binomial-model.ipynb
  examples/generalized_linear_models/GLM-hierarchical-binomial-model.myst.md
Due: watermark, notebook_name, no-references-as-links

simplify and fix final comparison
  examples/case_studies/blackbox_external_likelihood_numpy.ipynb
  examples/case_studies/blackbox_external_likelihood_numpy.myst.md
Due: watermark, notebook_name, no-references-as-links

Added headers and footers to quickstart notebook
  examples/variational_inference/variational_api_quickstart.ipynb
Due: watermark, notebook_name, no-references-as-links

Update empirical approximation to v5
  examples/variational_inference/empirical-approx-overview.ipynb
Due: watermark, notebook_name, no-references-as-links

Added entry to update history in empirical VI notebook
  examples/variational_inference/empirical-approx-overview.ipynb
  examples/variational_inference/empirical-approx-overview.myst.md
Due: watermark, notebook_name, no-references-as-links

Minor language tweak; remove gaussian mixture ADVI example
  examples/variational_inference/empirical-approx-overview.ipynb
  examples/variational_inference/empirical-approx-overview.myst.md
  examples/variational_inference/gaussian-mixture-model-advi.ipynb
  examples/variational_inference/gaussian-mixture-model-advi.myst.md
Due: watermark, notebook_name, no-references-as-links

fixed the updates
  examples/howto/Model_Builder.ipynb
  examples/howto/Untitled.ipynb
Due: watermark, notebook_name, no-references-as-links

fixed the updates
  examples/howto/Untitled.ipynb
  myst_nbs/howto/Model_Builder.myst.md
Due: watermark, notebook_name, no-references-as-links

updates
  examples/howto/Model_Builder.ipynb
  examples/howto/Model_Builder.myst.md
Due: watermark, notebook_name, no-references-as-links

Removed instances of pymc3
  examples/variational_inference/variational_api_quickstart.ipynb
  examples/variational_inference/variational_api_quickstart.myst.md
Due: watermark, notebook_name, no-references-as-links

[Missing Data #461] First commit for missing data working out FIML
  examples/case_studies/Missing_Data_Imputation.ipynb
  examples/data/employee.csv
Due: watermark, notebook_name, no-references-as-links

[Missing Data #461] Added Sensitivity Plots
  examples/case_studies/Missing_Data_Imputation.ipynb
Due: watermark, notebook_name, no-references-as-links

removed build model from class method
  examples/howto/Model_Builder.ipynb
Due: watermark, notebook_name, no-references-as-links

updated load
  examples/howto/Model_Builder.ipynb
  examples/howto/Model_Builder.myst.md
Due: watermark, notebook_name, no-references-as-links

updated load method
  pymc_experimental/model_builder.py
Due: none

added required changes
  pymc_experimental/model_builder.py
Due: none

Update VI notebooks to v5 (#497)
  examples/variational_inference/GLM-hierarchical-advi-minibatch.ipynb
  examples/variational_inference/GLM-hierarchical-advi-minibatch.myst.md
  examples/variational_inference/empirical-approx-overview.ipynb
  examples/variational_inference/empirical-approx-overview.myst.md
  examples/variational_inference/gaussian-mixture-model-advi.ipynb
  examples/variational_inference/gaussian-mixture-model-advi.myst.md
  examples/variational_inference/variational_api_quickstart.ipynb
  examples/variational_inference/variational_api_quickstart.myst.md
Due: watermark, notebook_name, no-references-as-links

Update pymc_experimental/model_builder.py
  pymc_experimental/model_builder.py
Due: none

re-execute to attempt reproducing the error
  examples/diagnostics_and_criticism/Bayes_factor.ipynb
  examples/diagnostics_and_criticism/Bayes_factor.myst.md
Due: watermark, notebook_name, no-references-as-links

notebook: Bayes Factor; run using pymc v5 (#490)
  examples/diagnostics_and_criticism/Bayes_factor.ipynb
  examples/diagnostics_and_criticism/Bayes_factor.myst.md
Due: watermark, notebook_name, no-references-as-links

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
