Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

Update LKJ nb from v4 to v5
  examples/case_studies/LKJ.ipynb
  examples/case_studies/LKJ.myst.md
Due: watermark, notebook_name

Update LKJ nb from v4 to v5 (#583)
  examples/case_studies/LKJ.ipynb
  examples/case_studies/LKJ.myst.md
Due: watermark, notebook_name

Add seaborn to notebook extra dependency and remove from requirements-docs.txt
  examples/generalized_linear_models/GLM-negative-binomial-regression.ipynb
  examples/generalized_linear_models/GLM-negative-binomial-regression.myst.md
  requirements-docs.txt
Due: watermark, notebook_name, no-references-as-links

Fix typo in BART_introduction.myst.md
  examples/case_studies/BART_introduction.myst.md
Due: none

Fix typo in BART_introduction.ipynb
  examples/case_studies/BART_introduction.ipynb
Due: watermark, notebook_name, no-references-as-links

Minor typo in "Bayesian Additive Regression Trees: Introduction" notebook #584 (#585)
  examples/case_studies/BART_introduction.ipynb
  examples/case_studies/BART_introduction.myst.md
Due: watermark, notebook_name, no-references-as-links

Update factor analysis nb to v5
  examples/case_studies/factor_analysis.ipynb
  examples/case_studies/factor_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Set random seed correctly in sample()
  examples/case_studies/factor_analysis.ipynb
  examples/case_studies/factor_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Update factor analysis nb to v5 (#586)
  examples/case_studies/factor_analysis.ipynb
  examples/case_studies/factor_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Update SMC-ABC_Lotka-Volterra_example.ipynb
  examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb
Due: watermark, notebook_name

Run pre-commit SMC-ABC_Lotka-Volterra_example (#1)
  examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb
  examples/samplers/SMC-ABC_Lotka-Volterra_example.myst.md
Due: watermark, notebook_name

Move GHME_2013.py from case_studies to time_series
  examples/time_series/GHME_2013.py
Due: none

Update requirements-docs.txt to sphinx-theme=0.14
  requirements-docs.txt
Due: none

Remove old python scripts
  examples/case_studies/baseball.py
  examples/case_studies/disaster_model.py
  examples/case_studies/disaster_model_theano_op.py
  examples/case_studies/gelman_bioassay.py
  examples/case_studies/gelman_schools.py
  examples/case_studies/lasso_missing.py
  examples/case_studies/lightspeed_example.py
Due: none

Update requirements-docs.txt to sphinx-theme=0.14 (#596)
  requirements-docs.txt
Due: none

move BART case studies into seperate category
  examples/bayesian_additive_regression_trees/BART_introduction.ipynb
  examples/bayesian_additive_regression_trees/BART_introduction.myst.md
  examples/bayesian_additive_regression_trees/BART_quantile_regression.ipynb
  examples/bayesian_additive_regression_trees/BART_quantile_regression.myst.md
  examples/bayesian_additive_regression_trees/bart_heteroscedasticity.ipynb
  examples/bayesian_additive_regression_trees/bart_heteroscedasticity.myst.md
Due: watermark, notebook_name, no-references-as-links

Make gallery builder more flexible and restructure.
  sphinxext/thumbnail_extractor.py
Due: none

Fix
  sphinxext/thumbnail_extractor.py
Due: none

Remove Python script case studies (#594)
  examples/case_studies/baseball.py
  examples/case_studies/disaster_model.py
  examples/case_studies/disaster_model_theano_op.py
  examples/case_studies/gelman_bioassay.py
  examples/case_studies/gelman_schools.py
  examples/case_studies/lasso_missing.py
  examples/case_studies/lightspeed_example.py
Due: none

Move GHME_2013.py from case_studies to time_series (#595)
  examples/time_series/GHME_2013.py
Due: none

added BART category to sphinxext
  sphinxext/thumbnail_extractor.py
Due: none

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/.+\.ipynb$ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
