Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

Fixed model specification
  examples/variational_inference/pathfinder.ipynb
Due: watermark, notebook_name, no-references-as-links

Improve plot
  examples/variational_inference/pathfinder.ipynb
  examples/variational_inference/pathfinder.myst.md
Due: watermark, notebook_name, no-references-as-links

Rerun notebook
  examples/variational_inference/pathfinder.ipynb
Due: watermark, notebook_name, no-references-as-links

Fix typo in myst.
  examples/introductory/api_quickstart.myst.md
Due: none

Pathfinder model specification fix (#674)
  examples/introductory/api_quickstart.myst.md
  examples/variational_inference/pathfinder.ipynb
  examples/variational_inference/pathfinder.myst.md
Due: watermark, notebook_name, no-references-as-links

updated data_container.ipynb to reflect changes to pm.Data containers
  examples/fundamentals/data_container.ipynb
  examples/fundamentals/data_container.myst.md
Due: watermark, notebook_name, no-references-as-links

update link
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name

add ref attribute
  examples/survival_analysis/bayes_param_survival_pymc3.ipynb
Due: watermark, notebook_name, no-references-as-links

use {ref} for links
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name

update links using {ref}
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name

mlda link fix
  examples/samplers/MLDA_simple_linear_regression.ipynb
  examples/samplers/MLDA_simple_linear_regression.myst.md
Due: watermark, notebook_name

mlda link fix (#678)
  examples/samplers/MLDA_simple_linear_regression.ipynb
  examples/samplers/MLDA_simple_linear_regression.myst.md
Due: watermark, notebook_name

Run pre-commit and fix issues
  examples/survival_analysis/bayes_param_survival_pymc3.myst.md
Due: none

Fix Broken Link in Weibull Accelerated Failure Time Model Notebook (#677)
  examples/survival_analysis/bayes_param_survival_pymc3.ipynb
  examples/survival_analysis/bayes_param_survival_pymc3.myst.md
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name, no-references-as-links

replaced section with info box about deprecated data container, added to , fixed typo
  examples/fundamentals/data_container.ipynb
  examples/fundamentals/data_container.myst.md
Due: watermark, notebook_name, no-references-as-links

correct the variance reduction 2 link
  examples/samplers/MLDA_introduction.myst.md
Due: none

Update broken links in 'Adaptive Error Model' and 'Benchmarks and Tuning' .
  examples/samplers/MLDA_introduction.myst.md
Due: none

update link in ipynb file
  examples/samplers/MLDA_introduction.ipynb
Due: watermark, notebook_name, no-references-as-links

update link in ipynb file.
  examples/samplers/MLDA_introduction.ipynb
Due: watermark, notebook_name, no-references-as-links

swapped out class pm.Data to just pm.Data
  examples/fundamentals/data_container.ipynb
  examples/fundamentals/data_container.myst.md
Due: watermark, notebook_name, no-references-as-links

Fix Broken Link in MLDA Sampler Notebook (#679)
  examples/samplers/MLDA_introduction.ipynb
  examples/samplers/MLDA_introduction.myst.md
Due: watermark, notebook_name, no-references-as-links

fix links in MLDA Page
  examples/samplers/MLDA_introduction.ipynb
  examples/samplers/MLDA_introduction.myst.md
Due: watermark, notebook_name, no-references-as-links

update to pymc
  examples/diagnostics_and_criticism/model_averaging.ipynb
  examples/diagnostics_and_criticism/model_averaging.myst.md
Due: watermark, notebook_name, no-references-as-links

pre-commit autoupdate
  .pre-commit-config.yaml
  examples/ode_models/ODE_with_manual_gradients.ipynb
  examples/ode_models/ODE_with_manual_gradients.myst.md
  examples/samplers/samplers_mvnormal.py
  scripts/rerun.py
  sphinxext/thumbnail_extractor.py
Due: watermark, notebook_name, no-references-as-links

swapped pm.Data to class pymc.data in markdown text
  examples/fundamentals/data_container.ipynb
  examples/fundamentals/data_container.myst.md
Due: watermark, notebook_name, no-references-as-links

Fix Minibatch alignment in Bayesian Neural Network example
  examples/variational_inference/bayesian_neural_network_advi.ipynb
Due: watermark, notebook_name, no-references-as-links

update pre-commit config
  .pre-commit-config.yaml
Due: none

pre commit update (#690)
  .pre-commit-config.yaml
  examples/ode_models/ODE_with_manual_gradients.ipynb
  examples/ode_models/ODE_with_manual_gradients.myst.md
  examples/samplers/samplers_mvnormal.py
  scripts/rerun.py
  sphinxext/thumbnail_extractor.py
Due: watermark, notebook_name, no-references-as-links

added draft of the prevalence of malaria example
  examples/data/GMB_elv_msk.tif
  examples/data/gambia_dataset.csv
  examples/spatial/malaria_prevalence_PyMCv5.ipynb
  examples/spatial/malaria_prevalence_PyMCv5.myst.md
Due: watermark, notebook_name, no-references-as-links

update notebook
  examples/howto/updating_priors.ipynb
  examples/howto/updating_priors.myst.md
Due: watermark, notebook_name, no-references-as-links

modified text around deprecated Mutable and Constant data containers
  examples/fundamentals/data_container.ipynb
  examples/fundamentals/data_container.myst.md
Due: watermark, notebook_name, no-references-as-links

updated data_container.ipynb to reflect changes to pm.Data containers in pymc v5.16 (#676)
  examples/fundamentals/data_container.ipynb
  examples/fundamentals/data_container.myst.md
Due: watermark, notebook_name, no-references-as-links

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/.+\.ipynb$ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
