Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/.+\.ipynb$ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)

synchronized names between folder and thumnail_extractor
  examples/bart/bart_heteroscedasticity.ipynb
  examples/bart/bart_heteroscedasticity.myst.md
  examples/bart/bart_introduction.ipynb
  examples/bart/bart_introduction.myst.md
  examples/bart/bart_quantile_regression.ipynb
  examples/bart/bart_quantile_regression.myst.md
  sphinxext/thumbnail_extractor.py
Due: watermark, notebook_name, no-references-as-links

Restructure.
  examples/fundamentals/data_container.ipynb
  examples/fundamentals/data_container.myst.md
  sphinxext/thumbnail_extractor.py
Due: watermark, notebook_name, no-references-as-links

Fix.
  sphinxext/thumbnail_extractor.py
Due: none

fix
  examples/introductory/api_quickstart.ipynb
  examples/introductory/api_quickstart.myst.md
  sphinxext/thumbnail_extractor.py
Due: watermark, notebook_name, no-references-as-links

fix
  sphinxext/thumbnail_extractor.py
Due: none

fix: add time to the plot command in last plot
  examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb
  examples/samplers/SMC-ABC_Lotka-Volterra_example.myst.md
Due: watermark, notebook_name

Add spatial to gallery.
  sphinxext/thumbnail_extractor.py
Due: none

Remove custom distribution.
  examples/howto/custom_distribution.ipynb
  examples/howto/custom_distribution.myst.md
Due: watermark, notebook_name

move BART case studies into seperate category (#597)
  examples/bart/bart_heteroscedasticity.ipynb
  examples/bart/bart_heteroscedasticity.myst.md
  examples/bart/bart_introduction.ipynb
  examples/bart/bart_introduction.myst.md
  examples/bart/bart_quantile_regression.ipynb
  examples/bart/bart_quantile_regression.myst.md
  sphinxext/thumbnail_extractor.py
Due: watermark, notebook_name, no-references-as-links

Make gallery builder more flexible and restructure. (#598)
  examples/fundamentals/data_container.ipynb
  examples/fundamentals/data_container.myst.md
  examples/introductory/api_quickstart.ipynb
  examples/introductory/api_quickstart.myst.md
  sphinxext/thumbnail_extractor.py
Due: watermark, notebook_name, no-references-as-links

Bring back updating_priors.
  examples/howto/updating_priors.ipynb
  examples/howto/updating_priors.myst.md
Due: watermark, notebook_name, no-references-as-links

move stochastic volatility to time series
  examples/time_series/stochastic_volatility.ipynb
  examples/time_series/stochastic_volatility.myst.md
Due: watermark, notebook_name, no-references-as-links

move stochastic volatility to time series (#601)
  examples/time_series/stochastic_volatility.ipynb
  examples/time_series/stochastic_volatility.myst.md
Due: watermark, notebook_name, no-references-as-links

Update dp_mix.ipynb
  examples/mixture_models/dp_mix.ipynb
Due: watermark, notebook_name, no-references-as-links

update v5
  examples/gaussian_processes/GP-smoothing.ipynb
  examples/gaussian_processes/GP-smoothing.myst.md
Due: watermark, notebook_name, no-references-as-links

correct PR num
  examples/gaussian_processes/GP-smoothing.ipynb
  examples/gaussian_processes/GP-smoothing.myst.md
Due: watermark, notebook_name, no-references-as-links

GP-Smoothing Notebook to V5 (#603)
  examples/gaussian_processes/GP-smoothing.ipynb
  examples/gaussian_processes/GP-smoothing.myst.md
Due: watermark, notebook_name, no-references-as-links

Move blackbox likelihoods to howto. Move samplers to samplers.
  examples/howto/blackbox_external_likelihood_numpy.ipynb
  examples/howto/blackbox_external_likelihood_numpy.myst.md
  examples/samplers/lasso_block_update.ipynb
  examples/samplers/lasso_block_update.myst.md
  examples/samplers/sampling_compound_step.ipynb
  examples/samplers/sampling_compound_step.myst.md
  examples/samplers/sampling_conjugate_step.ipynb
  examples/samplers/sampling_conjugate_step.myst.md
  sphinxext/thumbnail_extractor.py
Due: watermark, notebook_name, no-references-as-links

Update SMC-ABC_Lotka-Volterra_example.ipynb (#590)
  examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb
  examples/samplers/SMC-ABC_Lotka-Volterra_example.myst.md
Due: watermark, notebook_name

Move blackbox likelihoods to howto. Move samplers to samplers.
  examples/howto/blackbox_external_likelihood_numpy.ipynb
Due: watermark, notebook_name, no-references-as-links

Move blackbox likelihoods to howto. Move samplers to samplers.
  examples/howto/blackbox_external_likelihood_numpy.myst.md
Due: none

Move blackbox likelihoods to howto. Move samplers to samplers.
  examples/howto/blackbox_external_likelihood_numpy.ipynb
  examples/howto/blackbox_external_likelihood_numpy.myst.md
Due: watermark, notebook_name, no-references-as-links

Move blackbox likelihoods to howto. Move samplers to samplers. (#604)
  examples/case_studies/blackbox_external_likelihood_numpy.ipynb
  examples/howto/blackbox_external_likelihood_numpy.ipynb
  examples/howto/blackbox_external_likelihood_numpy.myst.md
  examples/samplers/lasso_block_update.ipynb
  examples/samplers/lasso_block_update.myst.md
  examples/samplers/sampling_compound_step.ipynb
  examples/samplers/sampling_compound_step.myst.md
  examples/samplers/sampling_conjugate_step.ipynb
  examples/samplers/sampling_conjugate_step.myst.md
  sphinxext/thumbnail_extractor.py
Due: watermark, notebook_name, no-references-as-links

Move LKJ to howto.
  examples/howto/LKJ.ipynb
  examples/howto/LKJ.myst.md
Due: watermark, notebook_name, no-references-as-links

Reorder sections.
  sphinxext/thumbnail_extractor.py
Due: none

Rename sections.
  sphinxext/thumbnail_extractor.py
Due: none

rerun
  examples/bart/bart_heteroscedasticity.ipynb
  examples/bart/bart_heteroscedasticity.myst.md
  examples/bart/bart_introduction.ipynb
  examples/bart/bart_introduction.myst.md
  examples/bart/bart_quantile_regression.ipynb
  examples/bart/bart_quantile_regression.myst.md
  sphinxext/thumbnail_extractor.py
Due: watermark, notebook_name, no-references-as-links

rerun (#608)
  examples/bart/bart_heteroscedasticity.ipynb
  examples/bart/bart_heteroscedasticity.myst.md
  examples/bart/bart_introduction.ipynb
  examples/bart/bart_introduction.myst.md
  examples/bart/bart_quantile_regression.ipynb
  examples/bart/bart_quantile_regression.myst.md
  sphinxext/thumbnail_extractor.py
Due: watermark, notebook_name, no-references-as-links

modify myst.md file
  examples/diagnostics_and_criticism/model_averaging.myst.md
Due: none

reran notebook sequentially
  examples/diagnostics_and_criticism/model_averaging.ipynb
  examples/diagnostics_and_criticism/model_averaging.myst.md
Due: watermark, notebook_name, no-references-as-links

update code to run on pymc 5
  examples/diagnostics_and_criticism/model_averaging.ipynb
Due: watermark, notebook_name, no-references-as-links

get ready to merge
  examples/generalized_linear_models/GLM-negative-binomial-regression.ipynb
  examples/generalized_linear_models/GLM-negative-binomial-regression.myst.md
Due: watermark, notebook_name, no-references-as-links
