Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

update requirements and some cleanup
  .github/PULL_REQUEST_TEMPLATE.md
  README.rst
  requirements-docs.txt
  requirements-write.txt
Due: none

add decision utility funciton draft
  examples/howto/decision_analysis.ipynb
  myst_nbs/howto/decision_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Update PyMC dependency
  .github/workflows/test.yml
  pymc_experimental/distributions/continuous.py
  pymc_experimental/distributions/histogram_utils.py
  pymc_experimental/gp/latent_approx.py
  pymc_experimental/inference/pathfinder.py
  pymc_experimental/marginal_model.py
  pymc_experimental/tests/distributions/test_continuous.py
  pymc_experimental/tests/test_marginal_model.py
  pymc_experimental/tests/test_splines.py
  pymc_experimental/utils/prior.py
  pymc_experimental/utils/spline.py
  requirements.txt
Due: none

Update warning for transformed variables that depend on marginalized variable
  pymc_experimental/marginal_model.py
  pymc_experimental/tests/test_marginal_model.py
Due: none

Fix package name in setup.py
  setup.py
Due: none

[Reliability Bayesian #474] first commit working through actuarial tables and plots
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

[Reliability Bayesian #474] added plots and refined CI estimation
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

[Reliability Bayesian #474] improved write up around Graphical tests for fit.
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

[Reliability Bayesian #474] added linearised cdf plots.
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

[Reliability Bayesian #474] updated plots and added bootstrap calibration estimation.
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

[Reliability Bayesian #474] added mosaic plot
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

[Reliability Bayesian #474] added some more write up
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

[Reliability Bayesian #474] corrected the item-period data set
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

[Reliability Bayesian #474] improved plots and added more discussion
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

updated link to square pymc logo
  examples/gallery.rst
Due: no-references-as-links

updated link to square pymc logo (#480)
  examples/gallery.rst
Due: no-references-as-links

update requirements and some cleanup (#476)
  .github/PULL_REQUEST_TEMPLATE.md
  README.rst
  requirements-docs.txt
  requirements-write.txt
Due: none

[Reliability Bayesian #474] made progress with Bayesian models. Working out kinks.
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

ignore myst files when building docs
  examples/conf.py
Due: none

Rename two remaining at->pt.
  examples/case_studies/wrapping_jax_function.ipynb
  examples/case_studies/wrapping_jax_function.myst.md
Due: watermark, notebook_name, no-references-as-links

Add pytensor to intersphinx.
  examples/conf.py
Due: none

Add pytensor to pre-commit.
  .pre-commit-config.yaml
Due: none

proper formatting of page footer
  examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb
  examples/generalized_linear_models/GLM-out-of-sample-predictions.myst.md
Due: watermark, notebook_name, no-references-as-links

update date + add re-executed line in end author block
  examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb
  examples/generalized_linear_models/GLM-out-of-sample-predictions.myst.md
Due: watermark, notebook_name, no-references-as-links

remove mention of GLM submodule. Also mention of Bambi is now irrelevant.
  examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb
  examples/generalized_linear_models/GLM-out-of-sample-predictions.myst.md
Due: watermark, notebook_name, no-references-as-links

add template notebook
  template_notebook.ipynb
Due: watermark, notebook_name

Update template_notebook.ipynb
  template_notebook.ipynb
Due: watermark, notebook_name

remove aesara from intersphinx mapping
  .pre-commit-config.yaml
  examples/conf.py
Due: none

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
