Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

update rtd config
  .readthedocs.yml
Due: none

Use older versions
  _templates/rendered_citation.html
  examples/conf.py
  requirements-docs.txt
Due: none

fix requirements
  requirements-docs.txt
Due: none

try newer versions with older ablog
  examples/conf.py
  requirements-docs.txt
Due: none

fix website rendering (#540)
  .readthedocs.yml
  _templates/nb-badges.html
  _templates/page.html
  _templates/rendered_citation.html
  examples/case_studies/bart_heteroscedasticity.ipynb
  examples/case_studies/bart_heteroscedasticity.myst.md
  examples/conf.py
  requirements-docs.txt
Due: watermark, notebook_name, no-references-as-links

Try older theme version
  requirements-docs.txt
Due: none

Try older theme version (#542)
  requirements-docs.txt
Due: none

[Discrete Choice #543] early commit exploring model specs
  examples/generalized_linear_models/GLM-discrete-choice_models.ipynb
Due: watermark, notebook_name, no-references-as-links

[Discrete Choice #543] added hierarchical covariance structure
  examples/generalized_linear_models/GLM-discrete-choice_models.ipynb
Due: watermark, notebook_name, no-references-as-links

[Discrete Choice #543] slow model run crackers data
  examples/generalized_linear_models/GLM-discrete-choice_models.ipynb
Due: watermark, notebook_name, no-references-as-links

update glm_linear target
  examples/conf.py
  sphinxext/thumbnail_extractor.py
Due: none

Undo mapping modification for testing
  examples/conf.py
Due: none

update glm_linear target (#545)
  sphinxext/thumbnail_extractor.py
Due: none

Update thumbnail_extractor.py
  sphinxext/thumbnail_extractor.py
Due: none

black
  sphinxext/thumbnail_extractor.py
Due: none

Add section targets to gallery grid page (#546)
  sphinxext/thumbnail_extractor.py
Due: none

[Discrete Choice #543] trying a simpler appraoch
  examples/generalized_linear_models/GLM-discrete-choice_models.ipynb
Due: watermark, notebook_name, no-references-as-links

[Ordinal Regression #277] added bibtex ref
  examples/references.bib
Due: none

[Ordinal Regression #277] fixed bib merge conflict
  examples/references.bib
Due: none

[Ordinal Regression #277] trying to fix bib file for pre-commit checks
  examples/references.bib
Due: none

changed aesara.tensor to pytensor.tensor
  examples/case_studies/conditional_autoregressive_priors.ipynb
  myst_nbs/case_studies/conditional_autoregressive_priors.myst.md
Due: watermark, notebook_name, no-references-as-links

fixed execution order, made watermark render properly
  examples/case_studies/conditional_autoregressive_priors.ipynb
  myst_nbs/case_studies/conditional_autoregressive_priors.myst.md
Due: watermark, notebook_name, no-references-as-links

syncing myst nb to ipynb
  examples/case_studies/conditional_autoregressive_priors.myst.md
Due: no-references-as-links

fix latex rendering
  examples/case_studies/conditional_autoregressive_priors.ipynb
  examples/case_studies/conditional_autoregressive_priors.myst.md
Due: watermark, notebook_name, no-references-as-links

[Discrete Choice #543] trying a simpler approach again
  examples/generalized_linear_models/GLM-discrete-choice_models.ipynb
Due: watermark, notebook_name, no-references-as-links

Debugging
  examples/gaussian_processes/GP-Latent.ipynb
  examples/gaussian_processes/GP-Latent.myst.md
  examples/gaussian_processes/GP-Marginal.ipynb
  examples/gaussian_processes/GP-Marginal.myst.md
Due: watermark, notebook_name, no-references-as-links

Updated latent and marginal GP notebooks to v5
  examples/gaussian_processes/GP-Latent.ipynb
  examples/gaussian_processes/GP-Latent.myst.md
  examples/gaussian_processes/GP-Marginal.ipynb
  examples/gaussian_processes/GP-Marginal.myst.md
Due: watermark, notebook_name, no-references-as-links

oriol's suggestions + simplified pm.sample() arguments + removed discussion of divergences
  examples/case_studies/conditional_autoregressive_priors.ipynb
  examples/case_studies/conditional_autoregressive_priors.myst.md
Due: watermark, notebook_name, no-references-as-links

oriol's suggestions + simplified pm.sample() arguments + removed discussion of divergences
  examples/case_studies/conditional_autoregressive_priors.ipynb
Due: watermark, notebook_name, no-references-as-links

metadata for myst substitutions
  examples/case_studies/conditional_autoregressive_priors.ipynb
  examples/case_studies/conditional_autoregressive_priors.myst.md
Due: watermark, notebook_name, no-references-as-links

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
