Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

[Missing Data #461] Added Bayesian model fit
  examples/case_studies/Missing_Data_Imputation.ipynb
Due: watermark, notebook_name, no-references-as-links

[Missing Data #461] more testing
  examples/case_studies/Missing_Data_Imputation.ipynb
Due: watermark, notebook_name, no-references-as-links

Update reliability_and_calibrated_prediction.myst.md
  examples/case_studies/reliability_and_calibrated_prediction.myst.md
Due: no-references-as-links

Changes to load.
  pymc_experimental/model_builder.py
Due: none

Updated 3 survival notebooks to v5
  examples/survival_analysis/censored_data.ipynb
  examples/survival_analysis/censored_data.myst.md
  examples/survival_analysis/survival_analysis.ipynb
  examples/survival_analysis/survival_analysis.myst.md
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name, no-references-as-links

final changes
  examples/howto/Model_Builder.ipynb
  examples/howto/Model_Builder.myst.md
Due: watermark, notebook_name, no-references-as-links

formating updates in first and last cell
  examples/howto/Model_Builder.ipynb
  examples/howto/Model_Builder.myst.md
Due: watermark, notebook_name, no-references-as-links

Updated 3 survival notebooks to v5 (#501)
  examples/survival_analysis/censored_data.ipynb
  examples/survival_analysis/censored_data.myst.md
  examples/survival_analysis/survival_analysis.ipynb
  examples/survival_analysis/survival_analysis.myst.md
  examples/survival_analysis/weibull_aft.ipynb
  examples/survival_analysis/weibull_aft.myst.md
Due: watermark, notebook_name, no-references-as-links

Update notebook to pymc version 5
  examples/case_studies/stochastic_volatility.ipynb
Due: watermark, notebook_name, no-references-as-links

rerun with pymc v5
  examples/case_studies/stochastic_volatility.ipynb
Due: watermark, notebook_name, no-references-as-links

fixed data dims
  examples/variational_inference/bayesian_neural_network_advi.ipynb
Due: watermark, notebook_name, no-references-as-links

add out-os-sample section
  examples/case_studies/BART_introduction.ipynb
  examples/case_studies/BART_introduction.myst.md
Due: watermark, notebook_name, no-references-as-links

pre-commit
  examples/variational_inference/bayesian_neural_network_advi.myst.md
Due: no-references-as-links

Variational inference/Bayesian neural network: fixed data dims in ann_input/ann_output (#506)
  examples/variational_inference/bayesian_neural_network_advi.ipynb
  examples/variational_inference/bayesian_neural_network_advi.myst.md
Due: watermark, notebook_name, no-references-as-links

Quantile regression with BART
  examples/case_studies/BART_quantile_regression.ipynb
  examples/case_studies/BART_quantile_regression.myst.md
Due: watermark, notebook_name, no-references-as-links

add bmi data
  examples/data/bmi.csv
Due: none

add regression example
  examples/case_studies/BART_introduction.ipynb
  examples/case_studies/BART_introduction.myst.md
Due: watermark, notebook_name, no-references-as-links

Out-of-sample predictions for BART intro notebook (#507)
  examples/case_studies/BART_introduction.ipynb
  examples/case_studies/BART_introduction.myst.md
Due: watermark, notebook_name, no-references-as-links

nb: GLM rolling regression; pymc v5
  examples/generalized_linear_models/GLM-rolling-regression.ipynb
Due: watermark, notebook_name

add myst file
  examples/generalized_linear_models/GLM-rolling-regression.myst.md
Due: no-references-as-links

nb v5 hierarchical partial pooling
  examples/case_studies/hierarchical_partial_pooling.ipynb
Due: watermark, notebook_name, no-references-as-links

add myst file
  examples/case_studies/hierarchical_partial_pooling.myst.md
Due: no-references-as-links

notebook: case studies, hierarchical partial pooling (run with pymc v5) (#513)
  examples/case_studies/hierarchical_partial_pooling.ipynb
  examples/case_studies/hierarchical_partial_pooling.myst.md
Due: watermark, notebook_name, no-references-as-links

Rerun notebook with pymc v5
  examples/case_studies/stochastic_volatility.ipynb
Due: watermark, notebook_name, no-references-as-links

undo... this is not updated yet
  examples/mixture_models/gaussian_mixture_model.ipynb
Due: watermark, notebook_name, no-references-as-links

pre-commit stuff
  examples/case_studies/mediation_analysis.myst.md
  examples/case_studies/moderation_analysis.myst.md
  examples/causal_inference/difference_in_differences.myst.md
  examples/causal_inference/excess_deaths.myst.md
  examples/causal_inference/interrupted_time_series.myst.md
  examples/causal_inference/regression_discontinuity.myst.md
  examples/generalized_linear_models/GLM-binomial-regression.myst.md
  examples/generalized_linear_models/GLM-simpsons-paradox.myst.md
  examples/generalized_linear_models/GLM-truncated-censored-regression.myst.md
  examples/mixture_models/gaussian_mixture_model.myst.md
Due: no-references-as-links

update gaussian mixture model example
  examples/mixture_models/gaussian_mixture_model.ipynb
  examples/mixture_models/gaussian_mixture_model.myst.md
Due: watermark, notebook_name, no-references-as-links

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
