Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

Counterfactual generation using pymc do-operator example notebook
  examples/causal_inference/counterfactuals_do_operator.ipynb
Due: watermark, notebook_name, no-references-as-links

External nuts sampler (#560)
  examples/samplers/GLM-hierarchical-jax.ipynb
  examples/samplers/GLM-hierarchical-jax.myst.md
  examples/samplers/fast_sampling_with_jax_and_numba.ipynb
  examples/samplers/fast_sampling_with_jax_and_numba.myst.md
Due: watermark, notebook_name, no-references-as-links

Update bibtex-tidy
  .pre-commit-config.yaml
Due: none

Fix Padonou URL
  examples/references.bib
Due: none

Increase Node version 15→18
  .github/workflows/pre-commit.yml
Due: none

Run pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

removing the mb folder, mb intro in examples/howto
  examples/model_builder/ModelBuilder in PyMC-Marketing context.ipynb
Due: watermark, notebook_name, no-references-as-links

updating .myst.md file
  examples/howto/model_builder.myst.md
Due: no-references-as-links

Fix Stucchio URL (#567)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  examples/references.bib
Due: none

including ModelBuilder intro notebook (#565)
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
Due: watermark, notebook_name, no-references-as-links

Add seaborn to the requirements-docs.txt
  requirements-docs.txt
Due: none

Update notebook GLM-negative-binomial-regression to pymc v5
  examples/generalized_linear_models/GLM-negative-binomial-regression.ipynb
Due: watermark, notebook_name, no-references-as-links

Update notebook to pymc v5
  examples/mixture_models/dirichlet_mixture_of_multinomials.ipynb
  examples/mixture_models/dirichlet_mixture_of_multinomials.myst.md
Due: watermark, notebook_name, no-references-as-links

Make randomness deterministic
  examples/mixture_models/dirichlet_mixture_of_multinomials.ipynb
  examples/mixture_models/dirichlet_mixture_of_multinomials.myst.md
Due: watermark, notebook_name, no-references-as-links

Update notebook to match new simulated data
  examples/mixture_models/dirichlet_mixture_of_multinomials.ipynb
  examples/mixture_models/dirichlet_mixture_of_multinomials.myst.md
Due: watermark, notebook_name, no-references-as-links

Minor changes to notebook text
  examples/mixture_models/dirichlet_mixture_of_multinomials.ipynb
  examples/mixture_models/dirichlet_mixture_of_multinomials.myst.md
Due: watermark, notebook_name, no-references-as-links

Change target_accept from 0.95 to 0.9
  examples/mixture_models/dirichlet_mixture_of_multinomials.ipynb
  examples/mixture_models/dirichlet_mixture_of_multinomials.myst.md
Due: watermark, notebook_name, no-references-as-links

Add myself to author list
  examples/mixture_models/dirichlet_mixture_of_multinomials.ipynb
  examples/mixture_models/dirichlet_mixture_of_multinomials.myst.md
Due: watermark, notebook_name, no-references-as-links

Minor change
  examples/mixture_models/dirichlet_mixture_of_multinomials.ipynb
  examples/mixture_models/dirichlet_mixture_of_multinomials.myst.md
Due: watermark, notebook_name, no-references-as-links

Fix minor text mismatches after updates
  examples/mixture_models/dirichlet_mixture_of_multinomials.ipynb
  examples/mixture_models/dirichlet_mixture_of_multinomials.myst.md
Due: watermark, notebook_name, no-references-as-links

Update model builder example to current API
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
Due: watermark, notebook_name, no-references-as-links

Update model builder example to current API (#582)
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
Due: watermark, notebook_name, no-references-as-links

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
