Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, no-internal-links

Path conditions:
  watermark: any of: \.ipynb$
  no-internal-links: any of: ^examples/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/diagnostics_and_criticism/sampler-stats.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-robust.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb)
)

update codespell args
  .pre-commit-config.yaml
Due: none

add excess deaths files
  examples/case_studies/excess_deaths.ipynb
  examples/data/total_deaths.csv
  examples/data/weather.csv
  examples/references.bib
  myst_nbs/case_studies/excess_deaths.myst.md
Due: watermark, no-internal-links

add args to codespell
  .pre-commit-config.yaml
Due: none

add args to codespell (#392)
  .pre-commit-config.yaml
Due: none

add excess deaths files
  examples/case_studies/excess_deaths.ipynb
  examples/data/total_deaths.csv
  examples/data/weather.csv
  examples/references.bib
Due: watermark, no-internal-links

add myst file
  myst_nbs/case_studies/excess_deaths.myst.md
Due: none

Initialize a prior from a fitted posterior (#56)
  docs/api_reference.rst
  pymc_experimental/tests/test_prior_from_trace.py
  pymc_experimental/utils/__init__.py
  pymc_experimental/utils/prior.py
Due: none

add tags
  examples/case_studies/excess_deaths.ipynb
  myst_nbs/case_studies/excess_deaths.myst.md
Due: watermark, no-internal-links

fix typo
  examples/case_studies/excess_deaths.ipynb
  myst_nbs/case_studies/excess_deaths.myst.md
Due: watermark, no-internal-links

edit text about temperature and deaths
  examples/case_studies/excess_deaths.ipynb
  myst_nbs/case_studies/excess_deaths.myst.md
Due: watermark, no-internal-links

Covid-19 -> COVID-19. And grammatical fix
  examples/case_studies/excess_deaths.ipynb
  myst_nbs/case_studies/excess_deaths.myst.md
Due: watermark, no-internal-links

grammatical fix
  examples/case_studies/excess_deaths.ipynb
  myst_nbs/case_studies/excess_deaths.myst.md
Due: watermark, no-internal-links

Fix start and end of the files
  myst_nbs/case_studies/hierarchical_partial_pooling.myst.md
Due: none

Fix start and end for ipynb
  examples/case_studies/hierarchical_partial_pooling.ipynb
Due: watermark, no-internal-links

Fix start and end for ipynb
  examples/case_studies/hierarchical_partial_pooling.ipynb
  myst_nbs/case_studies/hierarchical_partial_pooling.myst.md
Due: watermark, no-internal-links

update notebook rendering
  examples/diagnostics_and_criticism/Bayes_factor.ipynb
Due: watermark, no-internal-links

Update examples/gallery.rst
  examples/gallery.rst
Due: no-internal-links

added PR history in notebook at end
  examples/diagnostics_and_criticism/Bayes_factor.ipynb
Due: watermark, no-internal-links

rm misc cell
  examples/diagnostics_and_criticism/Bayes_factor.ipynb
Due: watermark, no-internal-links

move image to correct directory
  examples/causal_inference/regression_discontinuity.png
Due: none

Move image to correct directory (#398)
  examples/causal_inference/regression_discontinuity.png
Due: none

Fix notebook name and watermark
  examples/case_studies/hierarchical_partial_pooling.ipynb
  myst_nbs/case_studies/hierarchical_partial_pooling.myst.md
Due: watermark, no-internal-links

Pass pre-commit
  examples/case_studies/hierarchical_partial_pooling.ipynb
  myst_nbs/case_studies/hierarchical_partial_pooling.myst.md
Due: watermark, no-internal-links

changes to notebook
  examples/diagnostics_and_criticism/Bayes_factor.ipynb
Due: watermark, no-internal-links

run pre-commit; add myst file
  examples/diagnostics_and_criticism/Bayes_factor.ipynb
  myst_nbs/diagnostics_and_criticism/Bayes_factor.myst.md
Due: watermark, no-internal-links

ran pre-commit
  myst_nbs/diagnostics_and_criticism/Bayes_factor.myst.md
Due: none

update notebook rendering: Bayes Factor (#395)
  examples/diagnostics_and_criticism/Bayes_factor.ipynb
  myst_nbs/diagnostics_and_criticism/Bayes_factor.myst.md
Due: watermark, no-internal-links

Add authorship
  examples/case_studies/hierarchical_partial_pooling.ipynb
  myst_nbs/case_studies/hierarchical_partial_pooling.myst.md
Due: watermark, no-internal-links

Pre-commit checks
  examples/case_studies/hierarchical_partial_pooling.ipynb
  myst_nbs/case_studies/hierarchical_partial_pooling.myst.md
Due: watermark, no-internal-links

Add header and footers for hierarchical partial pooling (#393)
  examples/case_studies/hierarchical_partial_pooling.ipynb
  myst_nbs/case_studies/hierarchical_partial_pooling.myst.md
Due: watermark, no-internal-links

fixing random seed issue in pm.Model definition
  examples/case_studies/spline.ipynb
Due: watermark, no-internal-links

re-run and saved with jupytext installed
  examples/case_studies/spline.ipynb
Due: watermark, no-internal-links

re-run and updated spline.myst.md
  examples/case_studies/spline.ipynb
  myst_nbs/case_studies/spline.myst.md
Due: watermark, no-internal-links

pre-commit passing
  examples/case_studies/spline.ipynb
  myst_nbs/case_studies/spline.myst.md
Due: watermark, no-internal-links
