Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

footer + comment
  template_notebook.ipynb
Due: watermark, notebook_name

add template notebook (#487)
  template_notebook.ipynb
Due: watermark, notebook_name

[Reliability Bayesian #474] added various bayesian incarnations failing to recover good fits.
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

[Reliability Bayesian #474] fixed Bayesian model fit to recover reasonable parameters
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

[Reliability Bayesian #474] added plot for Bayesian estimates
  examples/case_studies/reliability_and_calibration.ipynb
Due: watermark, notebook_name, no-references-as-links

nb: bayes-factor, run pymc v5
  examples/diagnostics_and_criticism/Bayes_factor.ipynb
Due: watermark, notebook_name, no-references-as-links

adding myst file
  examples/diagnostics_and_criticism/Bayes_factor.myst.md
Due: no-references-as-links

rerun Bayes Factor nb with pymc v5
  examples/diagnostics_and_criticism/Bayes_factor.ipynb
Due: watermark, notebook_name, no-references-as-links

[Reliability Bayesian #474] updated myst notebook
  myst_nbs/case_studies/reliability_and_calibration.myst.md
Due: none

[Reliability Bayesian #474] deleted old myst file
  myst_nbs/case_studies/reliability_and_calibration.myst.md
Due: none

[Reliability Bayesian #474] moved myst notebook to examples directory
  examples/case_studies/reliability_and_calibrated_prediction.myst.md
Due: no-references-as-links

[Reliability Bayesian #474] updated myst notebook metadata
  examples/case_studies/reliability_and_calibrated_prediction.myst.md
Due: no-references-as-links

[Reliability Bayesian #474] TESTING added duplicate notebook to myst folder.
  myst_nbs/case_studies/reliability_and_calibrated_prediction.myst.md
Due: none

[Reliability Bayesian #474] REVERTING TESTING added duplicate notebook to myst folder.
  myst_nbs/case_studies/reliability_and_calibrated_prediction.myst.md
Due: none

Draft update of BNN notebook
  examples/variational_inference/bayesian_neural_network_advi.ipynb
Due: watermark, notebook_name, no-references-as-links

Address reviewer comments
  examples/variational_inference/bayesian_neural_network_advi.ipynb
  myst_nbs/variational_inference/bayesian_neural_network_advi.myst.md
Due: watermark, notebook_name, no-references-as-links

Pre-commit fixes
  examples/variational_inference/bayesian_neural_network_advi.ipynb
  myst_nbs/variational_inference/bayesian_neural_network_advi.myst.md
Due: watermark, notebook_name, no-references-as-links

Added this PR to update list
  examples/time_series/AR.ipynb
  examples/time_series/AR.myst.md
Due: watermark, notebook_name, no-references-as-links

Updated AR notebook to PyMC 5.0
  examples/time_series/AR.ipynb
Due: watermark, notebook_name, no-references-as-links

Removed normalizing flows notebook
  examples/variational_inference/normalizing_flows_overview.ipynb
  examples/variational_inference/normalizing_flows_overview.myst.md
Due: watermark, notebook_name, no-references-as-links

Fixed update list
  examples/time_series/AR.ipynb
  examples/time_series/AR.myst.md
Due: watermark, notebook_name, no-references-as-links

Removed obsolete VI notebooks
  examples/variational_inference/convolutional_vae_keras_advi.ipynb
  examples/variational_inference/convolutional_vae_keras_advi.myst.md
  examples/variational_inference/lda-advi-aevb.ipynb
  examples/variational_inference/lda-advi-aevb.myst.md
Due: watermark, notebook_name, no-references-as-links

Remove obsolete VI notebooks (#495)
  examples/variational_inference/convolutional_vae_keras_advi.ipynb
  examples/variational_inference/convolutional_vae_keras_advi.myst.md
  examples/variational_inference/lda-advi-aevb.ipynb
  examples/variational_inference/lda-advi-aevb.myst.md
  examples/variational_inference/normalizing_flows_overview.ipynb
  examples/variational_inference/normalizing_flows_overview.myst.md
Due: watermark, notebook_name, no-references-as-links

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
