Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, notebook_name, no-references-as-links

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)

notebook_name:
  entry: \(notebook_name\)=
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks do not use literally notebook_name as target

no-references-as-links:
  name: Check no references that should be sphinx cross-references are urls
  description: '''A quick check to prevent urls pointing to pymc docs or other sphinx built docs like arviz, numpy, scipy...'''
  ...

Incorporate feedback.
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
Due: watermark, notebook_name, no-references-as-links

Added example for using ModelBuilder for pymc_experimental (#419)
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
Due: watermark, notebook_name, no-references-as-links

fix based om feedback
  examples/case_studies/BART_quantile_regression.ipynb
  examples/case_studies/BART_quantile_regression.myst.md
Due: watermark, notebook_name, no-references-as-links

Quantile regression with BART (#510)
  examples/case_studies/BART_quantile_regression.ipynb
  examples/case_studies/BART_quantile_regression.myst.md
  examples/data/bmi.csv
Due: watermark, notebook_name, no-references-as-links

fix typo in survival function
  examples/survival_analysis/survival_analysis.ipynb
Due: watermark, notebook_name, no-references-as-links

update to reflect changes in pymc-bart 0.4.0
  examples/case_studies/BART_introduction.ipynb
  examples/case_studies/BART_introduction.myst.md
  examples/case_studies/BART_quantile_regression.ipynb
  examples/case_studies/BART_quantile_regression.myst.md
  examples/case_studies/bart_heteroscedasticity.ipynb
  examples/case_studies/bart_heteroscedasticity.myst.md
Due: watermark, notebook_name, no-references-as-links

[Ordinal Regression #277] example ordinal regression using ordered univariate transform
  examples/generalized_linear_models/GLM-ordinal-regression.ipynb
Due: watermark, notebook_name, no-references-as-links

[Ordinal Regression #277] example ordinal regression using ordered univariate transform
  examples/data/fake_employee_manger_rating.csv
  examples/generalized_linear_models/GLM-ordinal-regression.ipynb
  examples/generalized_linear_models/GLM-ordinal-regression.myst.md
Due: watermark, notebook_name, no-references-as-links

[Ordinal Regression #277] added some text
  examples/generalized_linear_models/GLM-ordinal-regression.ipynb
  examples/generalized_linear_models/GLM-ordinal-regression.myst.md
Due: watermark, notebook_name, no-references-as-links

[Ordinal Regression #277] small update to text
  examples/generalized_linear_models/GLM-ordinal-regression.ipynb
Due: watermark, notebook_name, no-references-as-links

[Ordinal Regression #277] added movie data analysis
  examples/data/MoviesData.csv
  examples/generalized_linear_models/GLM-ordinal-regression.ipynb
  examples/generalized_linear_models/GLM-ordinal-regression.myst.md
Due: watermark, notebook_name, no-references-as-links

[Ordinal Regression #277] added some write up
  examples/data/fake_employee_manger_rating.csv
  examples/generalized_linear_models/GLM-ordinal-regression.ipynb
  examples/generalized_linear_models/GLM-ordinal-regression.myst.md
Due: watermark, notebook_name, no-references-as-links

update ablog template paths
  examples/conf.py
Due: none

Update requirements-docs.txt
  requirements-docs.txt
Due: none

back to old ablog templates
  examples/conf.py
Due: none

Update theme version and install from pip
  requirements-docs.txt
Due: none

Install theme from pypi (#534)
  requirements-docs.txt
Due: none

Update pip install command
  examples/howto/model_builder.ipynb
Due: watermark, notebook_name, no-references-as-links

Update ModelBuilder to show regression lines
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
Due: watermark, notebook_name, no-references-as-links

update to reflect changes in pymc-bart 0.4.0 (#531)
  examples/case_studies/BART_introduction.ipynb
  examples/case_studies/BART_introduction.myst.md
  examples/case_studies/BART_quantile_regression.ipynb
  examples/case_studies/BART_quantile_regression.myst.md
  examples/case_studies/bart_heteroscedasticity.ipynb
  examples/case_studies/bart_heteroscedasticity.myst.md
Due: watermark, notebook_name, no-references-as-links

[Ordinal Regression #277] tidied final plot
  examples/generalized_linear_models/GLM-ordinal-regression.ipynb
  examples/generalized_linear_models/GLM-ordinal-regression.myst.md
Due: watermark, notebook_name, no-references-as-links

[Ordinal Regression #277] changed movie comparison to ppc
  examples/generalized_linear_models/GLM-ordinal-regression.ipynb
  examples/generalized_linear_models/GLM-ordinal-regression.myst.md
Due: watermark, notebook_name, no-references-as-links

run pre-commit
  examples/survival_analysis/survival_analysis.myst.md
Due: no-references-as-links

Fix a small typo in the survival analysis notebook (#528)
  examples/survival_analysis/survival_analysis.ipynb
  examples/survival_analysis/survival_analysis.myst.md
Due: watermark, notebook_name, no-references-as-links

Update to show correct regression lines
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
Due: watermark, notebook_name, no-references-as-links

Pre-commit rerun
  examples/howto/linear_model_v1.nc
  examples/howto/model_builder.ipynb
Due: watermark, notebook_name, no-references-as-links

Delete linear_model_v1.nc
  examples/howto/linear_model_v1.nc
Due: none

Update ModelBuilder to show regression lines (#538)
  examples/howto/model_builder.ipynb
  examples/howto/model_builder.myst.md
Due: watermark, notebook_name, no-references-as-links

supercharge custom sphinxext
  .gitignore
  _thumbnails/core_notebooks/dimensionality.png
  _thumbnails/core_notebooks/glm_linear.png
  _thumbnails/core_notebooks/model_comparison.png
  _thumbnails/core_notebooks/posterior_predictive.png
  _thumbnails/core_notebooks/pytensor_pymc.png
  _thumbnails/thumbnails/README.txt
  examples/conf.py
  examples/gallery.rst
  requirements-docs.txt
  sphinxext/thumbnail_extractor.py
Due: no-references-as-links

black
  examples/conf.py
  sphinxext/thumbnail_extractor.py
Due: none

Improve (and fix) gallery grid rendering (#539)
  .gitignore
  _thumbnails/core_notebooks/dimensionality.png
  _thumbnails/core_notebooks/glm_linear.png
  _thumbnails/core_notebooks/model_comparison.png
  _thumbnails/core_notebooks/posterior_predictive.png
  _thumbnails/core_notebooks/pytensor_pymc.png
  _thumbnails/thumbnails/README.txt
  examples/conf.py
  examples/gallery.rst
  requirements-docs.txt
  sphinxext/thumbnail_extractor.py
Due: no-references-as-links

update conf.py to updated versions
  _templates/nb-badges.html
  _templates/rendered_citation.html
  examples/case_studies/bart_heteroscedasticity.ipynb
  examples/case_studies/bart_heteroscedasticity.myst.md
  examples/conf.py
  requirements-docs.txt
Due: watermark, notebook_name, no-references-as-links

Path conditions:
  watermark: any of: \.ipynb$
  notebook_name: any of: \.ipynb$
  no-references-as-links: any of: ^examples/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb|
     examples/howto/custom_distribution.ipynb)
)
