Repository pymc-devs/pymc-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, no-internal-links

Path conditions:
  watermark: any of: \.ipynb$
  no-internal-links: any of: ^examples/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     conf.py|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/LKJ.ipynb|
     examples/case_studies/blackbox_external_likelihood.ipynb|
     examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
     examples/case_studies/item_response_nba.ipynb|
     examples/diagnostics_and_criticism/sampler-stats.ipynb|
     examples/gaussian_processes/GP-MaunaLoa2.ipynb|
     examples/generalized_linear_models/GLM-logistic.ipynb|
     examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
     examples/generalized_linear_models/GLM-poisson-regression.ipynb|
     examples/generalized_linear_models/GLM-robust.ipynb|
     examples/generalized_linear_models/GLM-rolling-regression.ipynb|
     examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
     examples/howto/api_quickstart.ipynb|
     examples/samplers/MLDA_gravity_surveying.ipynb|
     examples/samplers/MLDA_simple_linear_regression.ipynb|
     examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
     examples/splines/spline.ipynb|
     examples/survival_analysis/censored_data.ipynb|
     examples/survival_analysis/weibull_aft.ipynb)
)

fixing random seed issue in pm.Model definition (#403)
  examples/case_studies/spline.ipynb
  myst_nbs/case_studies/spline.myst.md
Due: watermark, no-internal-links

Add pre-commit config and CI workflow (#58)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .pylintrc
  README.md
  docs/Makefile
  docs/api_reference.rst
  docs/conf.py
  notebooks/latent_approx.ipynb
  pymc_experimental/__init__.py
  pymc_experimental/bart/__init__.py
  pymc_experimental/bart/bart.py
  pymc_experimental/bart/pgbart.py
  pymc_experimental/bart/tree.py
  pymc_experimental/bart/utils.py
  pymc_experimental/distributions/__init__.py
  pymc_experimental/distributions/histogram_utils.py
  pymc_experimental/gp/__init__.py
  pymc_experimental/gp/latent_approx.py
  pymc_experimental/tests/test_bart.py
  pymc_experimental/tests/test_histogram_approximation.py
  pymc_experimental/tests/test_prior_from_trace.py
  pymc_experimental/tests/test_splines.py
  pymc_experimental/utils/__init__.py
  pymc_experimental/utils/prior.py
  pymc_experimental/utils/spline.py
  pyproject.toml
  setup.py
Due: watermark

:arrow_up: upgrade nb to V4
  examples/gaussian_processes/gaussian_process.ipynb
  myst_nbs/gaussian_processes/gaussian_process.myst.md
Due: watermark, no-internal-links

Update stochastic volatility notebook for best practices (#378)
  examples/case_studies/stochastic_volatility.ipynb
  examples/references.bib
  myst_nbs/case_studies/stochastic_volatility.myst.md
Due: watermark, no-internal-links

:ok_hand: updates due to review comments
  examples/gaussian_processes/gaussian_process.ipynb
  myst_nbs/gaussian_processes/gaussian_process.myst.md
Due: watermark, no-internal-links

re-wrote examples/howto_debugging.ipynb
  examples/howto/howto_debugging.ipynb
  myst_nbs/howto/howto_debugging.myst.md
Due: watermark, no-internal-links

:ok_hand: sampling with multivariate_normal from xarray_einstats dev
  examples/gaussian_processes/gaussian_process.ipynb
  myst_nbs/gaussian_processes/gaussian_process.myst.md
Due: watermark, no-internal-links

:pushpin: set ablog version
  requirements-docs.txt
Due: none

:beers: :bug: fix the pinning
  requirements-docs.txt
Due: none

:pushpin: pin sphinx and sphinx gallery
  requirements-docs.txt
Due: none

:pencil: add watermark header
  examples/gaussian_processes/gaussian_process.ipynb
  myst_nbs/gaussian_processes/gaussian_process.myst.md
Due: watermark, no-internal-links

Upgrade notebook Gaussian Process to V4 (#404)
  examples/gaussian_processes/gaussian_process.ipynb
  myst_nbs/gaussian_processes/gaussian_process.myst.md
  requirements-docs.txt
Due: watermark, no-internal-links

initial version (wip)
  examples/case_studies/reinforcement_learning.ipynb
  examples/references.bib
  myst_nbs/case_studies/reinforcement_learning.myst.md
Due: watermark, no-internal-links

fix date and minor corrections
  examples/case_studies/reinforcement_learning.ipynb
  myst_nbs/case_studies/reinforcement_learning.myst.md
Due: watermark, no-internal-links

nb divergence: fix myst error with spacing
  myst_nbs/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.myst.md
Due: none

divergence notebook, after running pre-commit
  examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb
Due: watermark, no-internal-links

make code across one line
  examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb
Due: watermark, no-internal-links

run myst for divergence nb
  myst_nbs/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.myst.md
Due: none

remove myst file
  myst_nbs/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.myst.md
Due: none

make code one line to fix myst errors from precommit
  examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb
Due: watermark, no-internal-links

make Authorship section consistent betw notebook and myst
  examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb
  myst_nbs/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.myst.md
Due: watermark, no-internal-links

Divergence nb: run notebook
  examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb
Due: watermark, no-internal-links

rm space around = sign
  examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb
Due: watermark, no-internal-links

added RS authorship to end
  examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb
Due: watermark, no-internal-links

rerun myst on divergence nb
  myst_nbs/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.myst.md
Due: none

divergence nb: rerun myst
  examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb
  myst_nbs/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.myst.md
Due: watermark, no-internal-links

initial feedback improvements
  examples/case_studies/reinforcement_learning.ipynb
  myst_nbs/case_studies/reinforcement_learning.myst.md
Due: watermark, no-internal-links

improve plot and fix title
  examples/case_studies/reinforcement_learning.ipynb
  myst_nbs/case_studies/reinforcement_learning.myst.md
Due: watermark, no-internal-links

hide plot cell
  myst_nbs/case_studies/reinforcement_learning.myst.md
Due: none

add ricardo comment text
  examples/case_studies/reinforcement_learning.ipynb
  myst_nbs/case_studies/reinforcement_learning.myst.md
Due: watermark, no-internal-links

hide plot cell v2
  myst_nbs/case_studies/reinforcement_learning.myst.md
Due: none

add manual tag notebook
  examples/case_studies/reinforcement_learning.ipynb
  myst_nbs/case_studies/reinforcement_learning.myst.md
Due: watermark, no-internal-links

hide just input
  examples/case_studies/reinforcement_learning.ipynb
  myst_nbs/case_studies/reinforcement_learning.myst.md
Due: watermark, no-internal-links

shorten notebook
  examples/case_studies/reinforcement_learning.ipynb
  myst_nbs/case_studies/reinforcement_learning.myst.md
Due: watermark, no-internal-links

remove redundant credits section
  examples/case_studies/reinforcement_learning.ipynb
  myst_nbs/case_studies/reinforcement_learning.myst.md
Due: watermark, no-internal-links
